@tailwind base;
@tailwind components;
@tailwind utilities;

@property --accent-color {
	syntax: "<color>";
	initial-value: lch(65.58% 79.15 49.01);
	inherits: false;
}

.shadow-avatar {
	/* box-shadow: 0 0 15px 1px var(--accent-color); */
}
