---
import { Hero } from "$/components/hero";
import Layout from "$/layouts/Layout.astro";
---

<Layout withoutMargin>
    <section class="grid grid-rows-1 place-items-center min-h-screen">
        <Hero/>
    </section>
</Layout>
