---
---

<div class="pointer-events-none fixed inset-0 -z-10 h-screen w-screen overflow-hidden">
  <div class="opacity-[0.03] absolute inset-[-200%] h-[400%] w-[400%] bg-[url('/framernoise.png')] bg-[length:256px] bg-left-top">
  </div>
</div>
