---
import HeaderLink from "./header-link.astro";
import { CircleHelp, Home, PocketKnife, Rss } from "lucide-react";
---

<header class="flex flex-row gap-10 px-5 py-2.5 items-center sticky top-0">
    <img src="/johnbakhmat-128x128.webp" alt="John Bakhmat" class="aspect-square w-16 rounded-xl shadow-avatar border-2 border-accent"/>

    <div class="grow flex gap-5">
        <HeaderLink href="/" text="Home" icon={Home} />
        <HeaderLink href="/blog" text="Blog" icon={Rss} />
        <HeaderLink href="/tools" text="Tools" icon={PocketKnife}/>
    </div>


</header>
