---
import HeaderLink from "./header-link.astro";
import { Contact, Home, PocketKnife, Rss } from "lucide-react";
---

<header class="grid grid-cols-[1fr_auto_1fr] gap-10 px-2 lg:px-5 py-2.5 items-center fixed top-0 inset-x-0 backdrop-blur-md max-h-20">
    <img src="/johnbakhmat-128x128.webp" alt="John Bakhmat" class="aspect-square w-16 rounded-xl shadow-avatar border-2 border-accent"/>
    <div class="grow flex gap-1 md:gap-3 lg:gap-5 justify-center">
        <HeaderLink href="/" text="Home" icon={Home} />
        <HeaderLink href="/about" text="About" icon={Contact} />
        <HeaderLink href="/blog" text="Blog" icon={Rss} />
        <HeaderLink href="/tools" text="Tools" icon={PocketKnife}/>
    </div>

    <div class="flex shrink gap-2 md:gap-3 lg:gap-5 items-center justify-end">

        <a href="https://bsky.app/profile/johnbakhmat.dev" target="_blank" class="flex items-center gap-2 bluesky">
            <img src="/bluesky.svg" alt="GitHub" class="w-6 h-6" />
        </a>

        <a href="https://github.com/johnbakhmat" target="_blank" class="flex items-center gap-2">
            <img src="/github.svg" alt="GitHub" class="w-6 h-6" />
        </a>
    </div>
</header>
