---
import Header from "$/components/header.astro";
import { Background } from "$/components/background";
import "$/styles/global.css";
type Props = {
	withoutMargin?: boolean;
};

const { withoutMargin } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
       	<Header/>
		<main class:list={[
    		"container mx-auto px-5 max-w-3xl",
    		!withoutMargin && "mt-20"
		]}>
	    	<slot />
		</main>
		<Background client:only="react" />
	</body>
</html>
